@using Resources
@{
    /**/

    ViewBag.Title = "Welic";    
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}


<!-- Inicio Carousel -->


<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="~/Imagens/Banner1 01.png"></a>
    <a class="carousel-item" href="#two!"><img src="~/Imagens/Banner2 02.png"></a>
    <a class="carousel-item" href="#three!"><img src="~/Imagens/Banner2 03.png"></a>    
</div>
<!-- Fim Carousel -->
<!--Estrutura Parallax -->
<div class="container welic-azul-claro">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>
                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center  text-lighten-2">@Resources.Contact_Us</h1>
            <div class="row center">
                <h5 class="header col s12 light">@Resources.Desc_Contact</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large buttonWelic waves-effect waves-light lighten-1">@Resources.Button_Contact</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="~/Imagens/Bkg-elearning.jpg" alt="Unsplashed background img 1"></div>
</div>
<!--About Welic-->
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                
                <h4>@Resources.Title_About</h4>
                
                <p class="NoJustific">@Resources.Desc_About</p>
                @*<p class=" text-darken-1  accent-1 right-aligned">
                    Seja Bem-vinda/o à Welic. Estamos felizes que esteja aqui.
                </p>
                <p class=" text-darken-1  accent-1 right-aligned">
                    A Welic nasceu de um sonho, o sonho de trazer a todas as pessoas treinamentos e eventos independentes da sua localização e idioma. Nasceu também do sonho de dotar especialistas com conhecimento único, das ferramentas necessárias para que possam rentabilizar o seu conhecimento através de uma ferramenta de trabalho Universal – A Internet.
                </p>
                <p class=" text-darken-1  accent-1 right-aligned">
                    A nossa missão é levar a todas as pessoas Treinamentos e Eventos únicos, na sua propria Língua e dotar especialistas das ferramentas tecnologicas necessárias para fazer crescer o seu negócio online.
                </p>
                <p class=" text-darken-1  accent-1 right-aligned">
                    Como equipa desenvolvedora e promotora do Welic, garatimos o nosso total compromisso para desenvolver uma ferramenta altamente inovadora e eficaz, capaz de utilizar o meio online como catalizador de negócios digitais.
                </p>*@
            </div>
        </div>

    </div>
</div>
<!--FIM:About Welic-->
