@model  Teste.Models.MailModel
@{
    ViewBag.Title = "Welic";
}

<!-- Inicio Carousel -->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="@Url.Action("GetImagemBannerTop")">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Assita seus Webinars ao vivo de casa.</h5>
            </div>
        </li>
        <li>
            <img src="@Url.Action("GetImagemBannerTop")">
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="@Url.Action("GetImagemBannerTop")">
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="@Url.Action("GetImagemBannerTop")">
            <div class="caption center-align">

            </div>
        </li>
    </ul>
</div>
<!-- Fim Carousel -->
<!-- Inicio da Agenda -->
<div class="container">
    <div class="section">
        <div class="container ">
            <h1 class="header center  black-text "> Agendas</h1>
            <div class="row center font-descricao-welic">
                <h5 class="header welic-laranja-text col s12 light ">Lançamento oficiais do Welic nas datas abaixo</h5>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 m3">
                <div class="icon-block">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda1" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Welic</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">@ViewBag.AgendaPOne</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">@ViewBag.AgendaDayOne</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">@ViewBag.AgendaDaytwo</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">@ViewBag.AgendaDaytree</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">@ViewBag.AgendaPtree</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-image">
                            <img src="@Url.Action("GetImagemCalendar")">

                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda1"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">Social Media ‘18 - 17/09 a 19/09</span>


                        </div>


                    </div>

                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda2" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Agenda</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Com um crescimento exponencial a nível mundial, o e-Learning é uma ferramenta considerada por muitas empresas e pessoas, essecial. A utilização de Treinamento online ajuda em muito as empresas em capacitar os seus empregados e criar um engajamento entre a empresa e o colaborador. No entanto, técnicas de Ensino à distância estão a mudar, para melhor, e fazendo cada vez mais uso da tecnologia existente. </p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">O Summit Digital: e-Learning World ’18 é a primeira edição de um evento internacional único, que tem como objetivo mostra-lhe as tendências para o ensino à distância moderno. Este fantástico evento, permitir-lhe-á colocar em prática as técnicas e utilizar as ferramentas apresentadas logo após. É um evento que conta com a presença de oradores internacionais e de experiência comprovada em Ensino à Distância.</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Temáticas abordadas:</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 1 – 24.09.2018 – O ead como fator diferenciador no Treinamento</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 2 – 25.09.2018 – Técnicas para ajudara sua empresa ou negócio com ead</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 3 – 26.09.2018 – Ferramentas que ajudam a impulsionar a sua empresa já com ead</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">O evento será gratuito e será cobrado um valor para usuários premium que desejarem rever o conteúdo mais tarde através da App Welic.</p>

                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="@Url.Action("GetImagemCalendar")">
                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda2"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">E-Learning ‘18 24/09 a 26/09</span>
                            @*<p>Summit: E-Learning World '18. Evento gratuito durante apresentação.</p>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda3" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Agenda</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned ">
                                    Seminário presencial, com utilização de tecnologias avançadas, suporte de grupo no facebook, utilização de videos e participação da assistência. Haverá dois tipos de inscrição NORMAL e PREMIUM.
                                    A diferença entre as duas é que a inscrição PREMIUM oferecerá a esses participantes um melhor contato com os facilitadores da sessão, bem como uma sessão de networking no sábado à noite no Hotel.
                                    O Pós treinamento será garantido com Sessões online personalizadas para os participantes e sessões privadas 1 para 1 também online.
                                </p>
                                <h6 lass="blue-text text-darken-1  accent-1 right-aligned ">Local:</h6>
                                <a id="logo-container" href="https://goo.gl/maps/YDyPtVakjvK2" class="brand-logo left-align" target="_blank"><i class="material-icons left-align">map</i>Rua Lar do Patriota s/nº, Zona 3, Talatona-benfica, Municipio de Belas, Luanda, Angola</a>

                                <br />
                                <h5 class="blue-text text-darken-1  accent-1 center-align">Programação:</h5>
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 06/10 - Sábado Manhã: Bases do Negócio Digital do Século XXI</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" class="small" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Quais os tipos de negócios online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Marketing Online e Marketing Offline</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Networking Digital – As suas potencialidades</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Validação da idéia de negócio</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Checklist para idéia de negócio</label>
                                    </p>
                                </div>
                                <br />
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 06/10 - Sábado Tarde: Ferramentas a utilizar</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Linkedin</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Facebook / Instagram</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Chatbots</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Hosting/Server/Wordpress</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">RD Station</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Chat Online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Email Listing – Procura de Emails para gerar listas de email</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Sistema Cloud</label>
                                    </p>
                                </div>
                                <br />
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 07/10 Domingo Manhã: Estratégia Online</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Validação da ideia de negócio II</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Definição de Marca e design</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Comunicação</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Marketing de Conteúdo e geração de valor aos clientes e lista</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Criar Valor – Por quê e as suas utilidades?</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Webinares e Podcasting</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Sessões lives</label>
                                    </p>
                                </div>
                                <br />
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 07/10 Domingo Tarde: Sessão prática na qual os participantes irão iniciar os seus próprios negócios online</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" class="center-align" />
                                        <label class="blue-text text-darken-1  accent-1 right-align" for="SItem1">Validação da Checklist para inicio de negócio digital</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Integração das ferramentas e estratégia</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Esclarecimentos de dúvidas individuais a todos os participantes</label>
                                    </p>
                                </div>
                                <br />
                                <h5 class="blue-text text-darken-1  accent-1 center-align">Objetivos do Seminário:</h5>
                                <p class="blue-text text-darken-1  accent-1 right-aligned"><u> No final do Seminário os participantes estarão aptos a: </u></p>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Identificar e validar ideias de negócio digital</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Criar marca digital e a sua presença online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Criar e gerir ferramentas online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Começar a vender no máximo em 48 horas após passos dados</label>
                                    </p>
                                </div>
                                <br />
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="@Url.Action("GetImagemCalendar")">
                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda3"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">Social Media ‘18 06/10 e 07/10</span>
                            @*<p>Seminário Presencial Social Media ‘18 (Angola).</p>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda4" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Agenda</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">A Definir... </p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="@Url.Action("GetImagemCalendar")">

                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda4"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">Social Media ‘18  Ainda Definindo.</span>
                            @*<p class="flow-text">Seminário Presencial Social Media ‘18 (Brasil).</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim da Agenda -->
<!--Newsletter-->
<div class="">
    <div class="section ">

        <div class="container ">
            <h1 class="header center  black-text "> Receba Nossas Noticias </h1>
            <div class="row center font-descricao-welic">
                <h5 class="header black-text col s12 light ">Se Você deseja receber nossas ultimas noticias ou ficar antenado sobre nossos proximos eventos, se cadastre abaixo </h5>
            </div>



            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="row black-text">
                    <form class="col s12">
                        <div class="row ">
                            <div class="input-field col s6 ">
                                @Html.TextBoxFor(m => m.Nome, new { htmlAttributes = new { @class = "Validate black-text", id = "first_name", @type = "text", placeholder = "Placeholder" } })
                                @Html.LabelFor(m => m.Nome, new { htmlAttributes = new { @for = "first_name", @class = "black-text" } })
                            </div>
                            <div class="input-field col s6">
                                @Html.TextBoxFor(m => m.LastName, new { htmlAttributes = new { @class = "Validate", id = "last_name", @type = "text" } })
                                @Html.LabelFor(m => m.LastName, new { htmlAttributes = new { @for = "last_name" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(m => m.Email, new { htmlAttributes = new { @class = "Validate", id = "email", @type = "email" } })
                                @Html.LabelFor(m => m.Email, new { htmlAttributes = new { @for = "email" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center-align">
                                <button class="btn waves-effect waves-light" type="submit" name="action" value="Send">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            }

            <br>
        </div>
    </div>
</div>
<!--Newsletter-->
