
@{
    ViewBag.Title = "Welic";
}

<!-- Inicio Carousel -->
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        @* <a class="btn waves-effect white grey-text darken-text-2">button</a>*@
    </div>
    <div class="carousel-item white-text" href="#one!">
        <img src="@Url.Action("GetImagemBannerTop")">
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <img src="@Url.Action("GetImagemBannerTop")">
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <img src="@Url.Action("GetImagemBannerTop")">
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <img src="@Url.Action("GetImagemBannerTop")">
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>
<!-- Fim Carousel -->
<!-- Inicio da Agenda -->
<div class="container">
    <div class="section">
        <div class="container ">
            <h1 class="header center  black-text "> Agendas</h1>
            <div class="row center font-descricao-welic">
                <h5 class="header welic-laranja-text col s12 light ">Lançamento oficiais do Welic nas datas abaixo</h5>
            </div>
            <br>
        </div>
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 m3">
                <div class="icon-block">
                    <!--<div class="card small">
        <!-- Card Content -->
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator small" src="@Url.Action("GetImagemCalendar")">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Social Media ‘18<br />17/09 a 19/09 <i class="material-icons right">more_vert</i></span>
                            @*<p><a href="#">This is a link</a></p>*@
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4 "><i class="material-icons right">close</i>Social Media Word </span>
                            <p>Grande Lançamento da Plataforma Welic Social Media Word </p>
                        </div>
                    </div>
                @*</div>*@
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- <div class="card small">
         <!-- Card Content -->
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="@Url.Action("GetImagemCalendar")">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">E-Learning ‘18<br />24/09 a 26/09<i class="material-icons right">more_vert</i></span>
                            @*<p><a href="#">This is a link</a></p>*@
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Social Media Word</span>
                            <p>Grande Lançamento da Plataforma Welic Social Media Word </p>
                        </div>
                    </div>
                @*</div>*@
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!--<div class="card small">
        <!-- Card Content -->
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="@Url.Action("GetImagemCalendar")">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Social Media ‘18<br />06/10 e 07/10<i class="material-icons right">more_vert</i></span>
                            @*<p><a href="#">This is a link</a></p>*@
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Social Media ‘18</span>
                            <p>Seminário Presencial no Hotel Sun Shine em Luanda (Angola): Social Media ‘18 ( de 06/10 e 07/10 ) </p>
                        </div>
                    </div>
                @*</div>*@
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!--<div class="card small">
        <!-- Card Content -->
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator small" src="@Url.Action("GetImagemCalendar")">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Social Media ‘18<br />Definindo.<i class="material-icons right">more_vert</i></span>
                            @*<p><a href="#">This is a link</a></p>*@
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Social Media ‘18</span>
                            <p>Seminário Presencial em Belo Horizonte (Brasil): Social Media ‘18 ( em Novembro pendente definir data e Local ) </p>
                        </div>
                    </div>
                @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim da Agenda -->
