<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    @* CSS PErsonalizado *@
    <link href="~/Content/materialize/css/custom.css" rel="stylesheet" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <nav class="welic z-depth-2" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="@Url.Action("Index")" class="brand-logo right"><i class="material-icons right"><img src="@Url.Action("GetIconWelic")"/></i>Welic</a>

                <ul class="left hide-on-med-and-down">
                    @*<li class="cyan lighten-2"><a href="@Url.Action("login")"">Login</a></li>*@
                    @*<li><a href="@Url.Action("Index")">Agendas</a></li>*@
                    <li><a class="waves-effect waves-light modal-trigger " href="#modal1">Sobre o Welic</a></li>   @*href="@Url.Action("About")"*@
                </ul>



                <ul id="nav-mobile" class="side-nav">
                    @*<li class="cyan lighten-2"><a href="@Url.Action("login")"">Login</a></li>*@
                    @*<li><a href="@Url.Action("Index")">Agendas</a></li>*@
                    <li><a class="waves-effect waves-light modal-trigger" href="#modal1">Sobre a Welic</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        @RenderBody()
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center-align">Welic</h4>
            <p class="blue-text text-darken-1  accent-1 right-aligned">@ViewBag.Message</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>



    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l3 s3 m3">
                    <h5 class=" teal-text lighten-3">CEO Welic</h5>
                    <h5 class="white-text">Joel Serrano</h5>
                    <ul>
                        <li><a class="blue-text darken-4" href="">Facebook</a></li>
                        <li><a class="cyan-text lighten-1" href="">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col l3 s3 m3">
                    <h5 class=" teal-text lighten-3">Dev. Welic</h5>
                    <h5 class="white-text">Lucas Ranuzi</h5>
                    <ul>
                        <li><a class="blue-text darken-4" href="https://www.facebook.com/lucasranzui.rocha">Facebook</a></li>
                        <li><a class="cyan-text lighten-1" href="https://www.linkedin.com/in/lucas-ranuzi-rocha-84b26a92/">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col l3 s3 m3">
                    <h5 class=" teal-text lighten-3">DevOps Welic</h5>
                    <h5 class="white-text">André Luiz</h5>
                    <ul>
                        <li><a class="blue-text darken-4" href="">Facebook</a></li>
                        <li><a class="cyan-text lighten-1" href="">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col l3 s3 m3">
                    <h5 class=" teal-text lighten-3">Marketing Welic</h5>
                    <h5 class="white-text">Ederson Esc</h5>
                    <ul>
                        <li><a class="blue-text darken-4" href="https://www.facebook.com/lucasranzui.rocha">Facebook</a></li>
                        <li><a class="cyan-text lighten-1" href="https://www.linkedin.com/in/lucas-ranuzi-rocha-84b26a92/">LinkedIn</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright (c) 2018 - Todos os Direitos Reservados Lei 9610/98 - Desenvolvido por: <a class="brown-text text-lighten-3" href="http://welic.app/">Welic.App</a>
            </div>
        </div>
    </footer>

    <!-- Jquery Importado via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    @* Scripts de ação *@
    <script>
        $(".button-collapse").sideNav();
    </script>
    <script>
        $('.carousel.carousel-slider').carousel({ fullWidth: true });

    </script>
    <script>
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .9, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
            });
        });

    </script>

    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/37a2a741-89c6-42f6-b8ce-ef262bd8f2fc-loader.js"></script>
</body>

</html>