@using Welic.WebSite.Helpers
@using Microsoft.AspNet.Identity
@using Registrators
@using Welic.Core
@using Welic.WebSite.Extensions

@{
    
}

<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,

        initial-scale=1.0">

    @* CSS Personalizado *@
    @Styles.Render("~/Content/custom.css" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    <!--Import Google Icon Font-->
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))

    <!-- Compiled and minified CSS -->
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    
    <link rel="shortcut icon" href="~/Imagens/logo/LogoWelic12x12.png">
    <title>@ViewBag.Title</title>

</head>
<body class="welic-azul-claro">
    <!-- Navibar-->
    <div>
        <nav class="welic z-depth-2" role="navigation">
            <div class="nav-wrapper container">

                <a id="logo-container" href="@Url.Action("Index", "Home")" class="brand-logo center-align"><img src="~/Imagens/logo/Logo_Welic.png" class="container" /></a>
                                               
                <ul class="right hide-on-med-and-down ">                                                           
                    <li class="waves-effect waves-light welic-menu"><a> @Html.ActionLink(Resources.Inicio, "Index", "Home")</a></li>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
                        {
                            @Html.AntiForgeryToken()

                            <li>@Html.ActionLink("Admin", "Admin", "Admin", routeValues: new {email = User.Identity.GetUserName()}, htmlAttributes: new {id = "admin"}) </li>
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                            </li>

                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink(@Resources.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                        <li>@Html.ActionLink(@Resources.Login, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"}) </li>
                        <li>@Html.ActionLink("Market", "Market", "Home", routeValues: null, htmlAttributes: new {id = "marketLink" }) </li>
                    }
                   
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li class="waves-effect waves-light"><a> @Html.ActionLink("Inicio", "Index", "Home")</a></li>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>@Html.ActionLink("Admin", "Admin", "Admin", routeValues: new { email = User.Identity.GetUserName() }, htmlAttributes: new { email = User.Identity.GetUserName(), id = "loginLink" }) </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink(@Resources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink(@Resources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        <li>@Html.ActionLink("Market", "Market", "Home", routeValues: null, htmlAttributes: new {id = "marketLink"}) </li>

                    }
                </ul>
                @*<ul>                        
                    <form method="get" action="@Url.Action("Search", "Home")">
                        <input type="text" class="form-control input-lg" placeholder="@CacheHelper.Settings.SearchPlaceHolder" id="SearchText" name="SearchText"><a  class="btn btn-primary btn-lg"><i class="mdi-action-search">search</i> search</a>
                    </form>
                </ul>*@
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <!--Footer-->
    <div>
        @RenderBody()

    </div>
    <footer class="page-footer blue-grey darken-4 ">
        <div class="container">
            <div class="row">
                <div class="col l3 s3 m3">
                    <!-- Modal Structure -->
                    <div id="modalPerfilJoel" class="modal">
                        <div class="modal-content">
                            <h4 class="blue-text text-darken-1 center-align">Joel Serrano </h4>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Joel Serrano é empreendedor há mais de 16 anos. Formado em Tecnologias de Informação e com especialização em e-learning. Ainda, é um profissional com elevada experiência em Consultoria e Formação de Jovens e Adultos.
                            </p>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Durante a sua carreira profissional, fundou várias empresas em países como, Portugal, Holanda e Alemanha.
                            </p>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Neste momento Coordena um projeto europeu, em 5 países europeus, no qual estimula o empreendedorismo em jovens na Europa.
                            </p>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Além disso, possui Marketplaces na Internet e especializa-se neste momento em Marketing Digital. Ainda É o CEO da Welic.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                    <div class="card transparent">
                        <div class="circle">
                            <div class="container">
                                <img src="~/Imagens/Joel.jpg" data-tooltip="Clique para conhecer" data-position="top" data-delay="50" href="#modalPerfilJoel" class="circle responsive-img  modal-trigger tooltipped">
                            </div>
                        </div>
                        <div class="card-stacked center-align">
                            <div>
                                <ul>
                                    <li><h6 class="blue-grey-text darken-4">CEO</h6></li>

                                    <li> <a class="blue-text darken-4" href="https://www.facebook.com/joelfpserrano"><i><img src="~/Imagens/Icon_Facebook.png" /></i></a>  <a class="cyan-text lighten-1" href="https://www.linkedin.com/in/joelfpserrano/"><i><img src="~/Imagens/icon_likedin.png" /></i></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l3 s3 m3">
                    <!-- Modal Structure -->
                    <div id="modalPerfilLucas" class="modal">
                        <div class="modal-content">
                            <h4 class="blue-text text-darken-1 center-align">Lucas Ranuzi Rocha</h4>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Bacharel em analise e desenvolvimento de sistemas na Uniube - Universidade de Uberaba, Brasil. Especialista em desenvolvimento Mobile e Desktop atuando na área desde 2015.
                                Participante da comunidade .Net em busca de sempre ajudar a melhorar este universo de desenvolvimento.
                            </p>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Empreendedor membro fundador da Welic como CTO.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                    <div class="card transparent">
                        <div class="circle">
                            <div class="container">
                                <img src="~/Imagens/Lucas.png" data-tooltip="Clique para conhecer" data-position="top" data-delay="50" href="#modalPerfilLucas" class="circle responsive-img  modal-trigger tooltipped">
                            </div>
                        </div>
                        <div class="card-stacked center-align">
                            <div>
                                <ul>
                                    <li><h6 class="blue-grey-text darken-4">CTO</h6></li>
                                    <li><a class="blue-text darken-4" href="https://www.facebook.com/lucasranzui.rocha"><i><img src="~/Imagens/Icon_Facebook.png" /></i></a>  <a class="cyan-text lighten-1" href="https://www.linkedin.com/in/lucas-ranuzi-rocha-84b26a92/"><i><img src="~/Imagens/icon_likedin.png" /></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l3 s3 m3">
                    <!-- Modal Structure -->
                    <div id="modalPerfilAndre" class="modal">
                        <div class="modal-content">
                            <h4 class="blue-text text-darken-1 center-align">André Luiz</h4>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Bacharel em Sistemas de Informação (PUC-Minas/Uniube), técnico em eletrônica (Escola Estadual Técnico Industrial Professor Fontes).
                                Como IT Specialist a minha formação académica, humana e laboral focou-se no desenvolvimento e implementação de grandes projetos.
                                Tenho experiência no contato com empresas internacionais. Sou um profissional comprometido com a inovação, liderança e trabalho de equipe.
                                Reconhecido ao longo de minha carreira pelo profissionalismo, íngreme curva de aprendizado, bem como, pelos resultados obtidos.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                    <div class="card transparent">
                        <div class="circle">
                            <div class="container">
                                <img src="~/Imagens/Andre.png" data-tooltip="Clique para conhecer" data-position="top" data-delay="50" href="#modalPerfilAndre" class="circle responsive-img  modal-trigger tooltipped">
                            </div>
                        </div>
                        <div class="card-stacked center-align">
                            <div>
                                <ul>
                                    <li><h6 class="blue-grey-text darken-4">CIO</h6></li>
                                    <li><a class="blue-text darken-4" href=""><i><img src="~/Imagens/Icon_Facebook.png" /></i></a>  <a class="cyan-text lighten-1" href=""><i><img src="~/Imagens/icon_likedin.png" /></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l3 s3 m3">
                    <!-- Modal Structure -->
                    <div id="modalPerfilEderson" class="modal">
                        <div class="modal-content">
                            <h4 class="blue-text text-darken-1 center-align">Ederson Esch Aguiar</h4>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Profissional com Pós-Graduação em Engenharia de Software pela UFMG - Universidade Federal de Minas
                                Gerais e com Graduação em Tecnologia da Informação pelo Centro Universitário Newton Paiva.
                            </p>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Possui 21 anos de experiência em grandes projetos de TI e startups, atuando nas áreas comercial e técnica para clientes do Setor
                                Público e Setor Privado. Na área comercial atuou como Executivo de Clientes, Pré-vendas e Consultor de
                                Negócios para oportunidades de Aplicações, Infraestrutura e Produtos durante o ciclo completo de Vendas
                                utilizando sistemas de CRM, prospectando clientes/negócios, criando funil das oportunidades e fechando
                                negócios.
                            </p>
                            <p class="blue-text text-darken-1  accent-1 right-aligned">
                                Na área técnica, atuou em delivery como Gerente de Projetos e Sustentação, Coordenador, Analista
                                de Sistemas e Desenvolvedor, visando a execução de projetos/sustentação de aplicações em ambiente Web e
                                Cliente/Servidor. No ambiente acadêmico, atuou como Palestrante e Professor de TI em Universidades, Cursos
                                Técnicos e Preparatórios.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                    <div class="card transparent">
                        <div class="circle">
                            <div class="container">
                                <img src="~/Imagens/Ederson.jpg" data-tooltip="Clique para conhecer" data-position="top" data-delay="50" href="#modalPerfilEderson" class="circle responsive-img  modal-trigger tooltipped">
                            </div>
                        </div>
                        <div class="card-stacked center-align">
                            <div>
                                <ul>
                                    <li><h6 class="blue-grey-text darken-4">CFO/CCO</h6></li>
                                    <li><a class="blue-text darken-4" href="https://www.facebook.com/ederson.eschaguiar"><i><img src="~/Imagens/Icon_Facebook.png" /></i></a>  <a class="cyan-text lighten-1" href="https://www.linkedin.com/in/edersoneschaguiar"><i><img src="~/Imagens/icon_likedin.png" /></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="center container">
                Copyright (c) 2018 - Todos os Direitos Reservados Lei 9610/98 - Desenvolvido por: <a class="brown-text text-lighten-3" href="http://welic.app/">Welic.App</a>
            </div>
        </div>
    </footer>
    <!--Scripts-->
    <!-- Jquery Importado via CDN -->
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))

    <!-- Compiled and minified JavaScript -->
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124613610-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-124613610-1');
    </script>

@* Scripts de ação *@

    <!--Side NavBar-->
    <script>
        $(".button-collapse").sideNav();
    </script>

    <!--Carousel-->
    <script>
        $('.carousel.carousel-slider').carousel({ fullWidth: true });

    </script>

    <!--Slider-->
    <script>
        $(document).ready(function () {
            $('.slider').slider({ fullWidth: true });
        });
    </script>

    <!--Parallax-->
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>

    <!--Modal-->
    <script>
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .9, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
            });
        });
    </script>   


<!--RD-Station-->
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/37a2a741-89c6-42f6-b8ce-ef262bd8f2fc-loader.js"></script>
    

</body>
</html>
