@using WebApi.Models
@model LoginViewModel

@{
    ViewBag.Title = @Resources.Login;
    Layout = "~/Views/Shared/_LoginShared.cshtml";
}


    
<div class="  cont ">

    <div class ="demo">

        <div class="login">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login__form  ", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <!--Title Login-->
                <h4 class="center login-text ">Login</h4>

                <!--Campo Email -->
                <div class="form-group">
                    <div class="col-md-10">
                        @*<svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                        </svg>*@

                        @Html.TextBoxFor(m => m.Email, new { @class = "login__input name", id = "email", @type = "text", placeholder = "E-mail" })                        
                    </div>
                </div>



                <!--Campo Password-->
                <div class="form-group">
                    <div class="col-md-10">
                        @*<svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                        </svg>*@

                        @Html.PasswordFor(m => m.Password, new { @class = "login__input pass", placeholder = "Password" })                        
                    </div>
                </div>
                <br />
                @Html.ValidationSummary("", new { @class = "text-danger " })

                <!-- Button -->
                <div class="form-group center-align">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="login__submit " />
                    </div>
                </div>
                <!--Button Esqueceu a senha -->
                <p class="login__signup">Don't have an account? &nbsp;<a>Sign up </a> or @Html.ActionLink("Forgot your password?", "ForgotPassword")</p>

            }
        </div>
    </div>
</div>
                   
    @*<div class="parallax"><img src="~/Imagens/backgroundParallax.jpg" alt="Unsplashed background img 1"></div>*@
    <!--
    Copyright (c) 2018 by Nikolay Talanov (https://codepen.io/suez/pen/dPqxoM)


    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    -->
